.contact {
    background-color: #E6E1C5;
    width: 35%;
    border-radius: 10px;
    align-self: center;
    margin: 1em;
    display: flex;
    padding: 1em;
}
.image{
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 75%;
    border-radius: 50%;
}
.data {
    text-align: center;
    width: 70%;
}